# Configurações do Servidor
PORT=3000
NODE_ENV=development

# Banco de Dados (PostgreSQL)
DATABASE_URL="postgresql://username:password@localhost:5432/database_name?schema=public"

# Autenticação (JWT)
# Gere uma chave forte e segura para produção
JWT_SECRET="sua_chave_secreta_jwt_de_pelo_menos_oito_caracteres"
